<%- contentFor('HeaderCss') %>
<!-- Daterangepicker css -->
<link rel="stylesheet" href="assets/vendor/daterangepicker/daterangepicker.css">

<!-- Vector Map css -->
<link rel="stylesheet" href="assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10"></link>
<link href="assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css" />

<%- contentFor('body') %>

<!-- end row -->


<div class="row mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="header-title" class="mb-6" style="font-size: 20px;">Plan</h1>
                <br>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#top-modal" onclick="clearModalFields()">Add</button>
                <br>
                <br>


                <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>S NO</th>
                            <th>Plan Name </th>
                            <th>No Of Meals</th>
                            <th>Price</th>
                            <th>Shipping Fee</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Edit</th>
                            <th>Delete</th>
                           
                        </tr>
                    </thead>         
                
                    <tbody>
                      
                        
                    </tbody>
                </table> 

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div> <!-- end row-->


<div id="top-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="padding:10px 20px;" >
            <div class="modal-header">
                <h4 class="modal-title" id="topModalLabel">Add Plan</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <br>
               <label for="" style="font-size: 16px;">Name</label>
               <input type="text" class="form-control" id="name">
               <br>
               <label for="" style="font-size: 16px;">No Of Meals</label>
               <input type="text" class="form-control" id="nom">
               <br>
               <label for="" style="font-size: 16px;">Price</label>
               <input type="number" class="form-control" id="price">
               <br>
               <label for="" style="font-size: 16px;">Shipping Fee</label>
               <input type="number" class="form-control" id="shipping_fee">
               <input type="hidden" id="hidden"></input>
          <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submit()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div

<%- contentFor('FooterJs') %>

<!-- Vector Map js -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js"></script>
<script src="assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
<script src="assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

<script>


$('document').ready(function(){
    if ($.fn.DataTable.isDataTable('#basic-datatable')) {
    $('#basic-datatable').DataTable().destroy();
}

$("#basic-datatable").DataTable({
    keys: true,
    language: {
        paginate: {
            previous: "<i class='ri-arrow-left-s-line'>",
            next: "<i class='ri-arrow-right-s-line'>"
        }
    },
    drawCallback: function () {
        $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
    }
});
  fetch();


})

function submit(){

var update_id = $('#hidden').val();
if(update_id == ""){
var form = new FormData();
    form.append("plan_name", document.getElementById("name").value);
    form.append("no_meals", document.getElementById("nom").value);  
    form.append("price", document.getElementById("price").value);
    form.append("shipping_fee", document.getElementById("shipping_fee").value);
   

    var settings = {
        "url": "/plan",
        "method": "POST",
        "timeout": 0,
        "processData": false,
        "mimeType": "multipart/form-data",
        "contentType": false,
        "data": form
    };

    $.ajax({
        ...settings,
        statusCode: {
            200: function(response) {
                console.log(response);

var jsonObject = JSON.parse(response);

var status = jsonObject.status;
console.log("Status: " + status);

if (status == 200) {
  console.log("Request was successful");
  $('#top-modal').modal('hide');
  // fetch();

  Swal.fire(
    'Success!',
    'Record Created Successfully',
    'success'
  )
  setTimeout(function() {

    location.reload();


  }, 2000);

} else {
  Swal.fire(
    'Error!',
    'Something went wrong. Please try again later.',
    'error'
  );
}
            },
        },
        success: function(data) {
            // $('#myModal').reset();
            // Additional success handling if needed
        },
        error: function(xhr, textStatus, errorThrown) {
            console.log(xhr)
            Swal.fire(
                'Server Error!',
                'Subscription Plan Not Created',
                'error'
            )
        }
    });
}
else{
    var form = new FormData();
    form.append("plan_name", document.getElementById("name").value);
    form.append("no_meals", document.getElementById("nom").value);  
    form.append("price", document.getElementById("price").value);
    form.append("shipping_fee", document.getElementById("shipping_fee").value);
   


    var settings = {
        "url": "/plan/" + update_id, // Fixed the URL concatenation
        "method": "PUT",
        "timeout": 0,
        "processData": false,
        "mimeType": "multipart/form-data",
        "contentType": false,
        "data": form
    };

    $.ajax({
        ...settings,
        success: function (data) {
            console.log(data);
            console.log("Request was successful");
            $('#top-modal').modal('hide');
               
               fetch()

            Swal.fire(
                'Success!',
                'Subscription Plan Updated Successfully',
                'success'
            );
        },
        error: function (xhr, textStatus, errorThrown) {
            console.log(xhr);
            Swal.fire(
                'Server Error!',
                'Subscription Plan Not Updated',
                'error'
            );
        }
    });
        }

}

function edit(id){
    clearModalFields()
    var settings = {
    "url": "/plan/"+id,
    "method": "GET",
    "timeout": 0,
};
$.ajax(settings).done(function(response) {
    
    $('#name').val(response['plan_name']);
    $('#nom').val(response['no_meals']);
    $('#price').val(response['price']);
    $('#shipping_fee').val(response['shipping_fee']);

})

    $('#top-modal').modal('show');
    $('#hidden').val(id);

}
function fetch(){
var settings = {
    "url": "/plan",
    "method": "GET",
    "timeout": 0,
};
let table = new DataTable('#basic-datatable');
$.ajax(settings).done(function(response) {
    console.log(response);
    table.clear().draw();
    $.each(response, function(index, data) {
        table.row.add([
            index + 1,
            data.plan_name,
            data.no_meals,
            data.price,
            data.shipping_fee,
            data.created_at,
            data.updated_at,
            '<button type="button"id="edit" name="edit" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"  onclick="edit(' +
            data.id +
            ')"  class="btn btn-soft-secondary "style="padding:5px 10px;" ><i class="ri ri-pencil-fill font-size-16 align-middle" style="font-size:16px;"></i></button>',
            '<button type="button"id="edit" name="edit" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"  onclick="delete_(' +
            data.id +
            ')"  class="btn btn-soft-danger "style="padding:5px 10px;" ><i class="ri  ri-delete-bin-2-fill font-size-16 align-middle" style="font-size:16px;"></i></button>',
           
            ]).draw(false);
    });
});
}

function clearModalFields() {
    // Select all input, textarea, and select elements within the modal
    $('#top-modal :input').each(function() {
        var elementType = this.type;
        var elementId = this.id;

        // Handle different input types appropriately
        switch (elementType) {
            case 'text':
            case 'number':
            case 'file':
            case 'hidden':
            case 'textarea':
            case 'select':
                $('#' + elementId).val('');
                break;

            // Add more cases as needed for other input types
        }
    });
}
function delete_(id){

Swal.fire({
title: 'Are you sure?',
text: 'You won\'t be able to revert this!',
icon: 'warning',
showCancelButton: true,
confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33',
confirmButtonText: 'Yes, delete it!'
}).then((result) => {
if (result.isConfirmed) {
  // Perform the delete action here
  var settings = {
"url": "/plan/"+id,
"method": "DELETE",
"timeout": 0,
};
$.ajax({
    ...settings,
    statusCode: {
        200: function(response) {
            console.log(response);
            console.log("Request was successful");
            $('#top-modal').modal('hide');
           
            fetch()
            Swal.fire('Deleted!', 'Plan Deleted Successfully!', 'success');
        },
    },
    success: function(data) {
        // $('#myModal').reset();
        // Additional success handling if needed
    },
    error: function(xhr, textStatus, errorThrown) {
        console.log(xhr)
        Swal.fire(
            'Server Error!',
            'Plan Not Deleted',
            'error'
        )
    }
});

 
}
});

}

</script>
