<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="index" class="logo logo-light">
        <span class="logo-lg" >
            <img style="height: 120px;" src="https://images.ctfassets.net/4frik3v39clf/ikhTXPmOah36ib8XdBxEH/6806c089861568be73c62d6bc3f5a8a2/factor75_box.png" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="https://images.ctfassets.net/4frik3v39clf/ikhTXPmOah36ib8XdBxEH/6806c089861568be73c62d6bc3f5a8a2/factor75_box.png" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="index" class="logo logo-dark">
        <span class="logo-lg" >
            <img style="height: 120px;" src="https://images.ctfassets.net/4frik3v39clf/ikhTXPmOah36ib8XdBxEH/6806c089861568be73c62d6bc3f5a8a2/factor75_box.png" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="https://images.ctfassets.net/4frik3v39clf/ikhTXPmOah36ib8XdBxEH/6806c089861568be73c62d6bc3f5a8a2/factor75_box.png" alt="small logo">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!-- Leftbar User -->
        <div class="leftbar-user p-3 text-white">
            <a href="pages-profile" class="d-flex align-items-center text-reset">
                <div class="flex-shrink-0">
                    <img src="assets/images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow">
                </div>
                <div class="flex-grow-1 ms-2">
                    <span class="fw-semibold fs-15 d-block">ADMIN</span>
                    <span class="fs-13">Super Admin</span>
                </div>
                <div class="ms-auto">
                    <i class="ri-arrow-right-s-fill fs-20"></i>
                </div>
            </a>
        </div>

                    <!-- <span class="badge bg-success float-end">9+</span> -->
        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title mt-1"> Main</li>

             <!--<li class="side-nav-item">
                <a href="/" class="side-nav-link">
                    <i class="ri-dashboard-2-fill"></i>
                    <span> Dashboard </span>
                </a>
            </li>
            <li class="side-nav-title mt-1">Customer Setup</li>
            <li class="side-nav-item">
                <a href="apps-calendar" class="side-nav-link">
                    <i class="ri-shield-user-fill"></i>
                    <span> Customers </span>
                </a>
            </li> -->

            <li class="side-nav-item">
                <a href="/order" class="side-nav-link">
                    <i class="ri-shopping-cart-fill"></i>
                    <span>Orders</span>
                </a>
            </li>
            <li class="side-nav-title mt-1">Food Setup</li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                    <i class="ri-restaurant-2-fill"></i>
                    <span> Food </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarEmail">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="ingredients">Ingredients</a>
                        </li>
                        <li>
                            <a href="nutrients">Nuterients</a>
                        </li>
                        <li class="side-nav-item">
                            <a href="units" class="side-nav-link">
                                <!-- <i class="ri-scales-3-fill"></i> -->
                                <span> Unit of Measure </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="preference" class="side-nav-link">
                                <!-- <i class="ri-list-check-3"></i> -->
                                <span> Preferences </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="weekly_menu" class="side-nav-link">
                                <!-- <i class="material-symbols-outlined">more</i> -->
                                <span> Weekly Menu </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="purchasing" class="side-nav-link">
                                <!-- <i class="material-symbols-outlined">more</i> -->
                                <span> Purchasing </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a href="dishes" class="side-nav-link">
                    <i class="ri-restaurant-fill"></i>
                    <span> Dishes </span>
                </a>
            </li>
<!-- 
            <li class="side-nav-title mt-2">Meal Setup</li>
            <li class="side-nav-item">
                <a href="apps-kanban" class="side-nav-link">
                    <i class="ri-boxing-fill"></i>
                    <span> Meals </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="apps-kanban" class="side-nav-link">
                    <i class="ri-open-source-fill"></i>
                    <span> Weekly Menu </span>
                </a>
            </li>
            <li class="side-nav-title mt-2">Inventory</li>
            <li class="side-nav-item">
                <a href="apps-kanban" class="side-nav-link">
                    <i class="ri-exchange-dollar-line"></i>
                    <span> Purchasing </span>
                </a>
            </li> -->
            <li class="side-nav-title mt-2">Settings</li>
            
            <li class="side-nav-item">
                <a href="users" class="side-nav-link">
                    <i class="ri-user-fill"></i>
                    <span> Users </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="all_customer" class="side-nav-link">
                    <i class="ri-user-fill"></i>
                    <span> Customer </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="sub_plan" class="side-nav-link">
                    <i class="material-symbols-outlined">subscriptions</i>
                    <span> Subscription Plan </span>
                </a>
            </li>
            
            <li class="side-nav-item">
                <a href="promo_code" class="side-nav-link">
                    <i class="material-symbols-outlined">more</i>
                    <span> Coupon Code </span>
                </a>
            </li>
            
            <li class="side-nav-item">
                <a href="zip_code" class="side-nav-link">
                    <i class="material-symbols-outlined">more</i>
                    <span>Zip Code</span>
                </a>
            </li>
            
            

        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End ========== -->