<%- contentFor('HeaderCss') %>

<%- contentFor('body') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box justify-content-between d-flex align-items-md-center flex-md-row flex-column">     
            <h4 class="page-title">Treemap Charts</h4>
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Factor75</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">Apex</a></li>
                <li class="breadcrumb-item active">Treemap Charts</li>
            </ol>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
<div class="col-xl-6">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Basic Treemap</h4>
            <div dir="ltr">
                <div id="basic-treemap" class="apex-charts" data-colors="#39afd1"></div>
            </div>
        </div>
        <!-- end card body-->
    </div>
    <!-- end card -->
</div>
<!-- end col-->

<div class="col-xl-6">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Treemap Multiple Series</h4>
            <div dir="ltr">
                <div id="multiple-treemap" class="apex-charts" data-colors="#fa5c7c,#6c757d"></div>
            </div>
        </div>
        <!-- end card body-->
    </div>
    <!-- end card -->
</div>
<!-- end col-->
</div>
<!-- end row-->

<div class="row">
<div class="col-xl-6">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Distributed Treemap</h4>
            <div dir="ltr">
                <div id="distributed-treemap" class="apex-charts" data-colors="#4254ba,#17a497,#fa5c7c,#6c757d,#39afd1,#ffc35a, #eef2f7, #313a46"></div>    
            </div>
        </div>
        <!-- end card body-->
    </div>
    <!-- end card -->
</div>
<!-- end col-->

<div class="col-xl-6">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Color Range Treemap</h4>
            <div dir="ltr">
                <div id="color-range-treemap" class="apex-charts" data-colors="#4254ba,#39afd1"></div>
            </div>
        </div>
        <!-- end card body-->
    </div>
    <!-- end card -->
</div>
<!-- end col-->
</div>
<!-- end row-->

<%- contentFor('FooterJs') %>

<!-- Apex Chart js -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>

<!-- Apex Chart Treemap Demo js -->
<script src="assets/js/pages/demo.apex-treemap.js"></script>
<!-- demo end -->