<%- contentFor('HeaderCss') %>

<%- contentFor('body') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box justify-content-between d-flex align-items-md-center flex-md-row flex-column">     
            <h4 class="page-title">Remix Icons</h4>
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Factor75</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">Icons</a></li>
                <li class="breadcrumb-item active">Remix Icons</li>
            </ol>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12" id="icons"></div> <!-- end col-->
</div><!-- end row -->
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- Remixicons Icons Demo js -->
<script src="assets/js/pages/demo.remixicons.js"></script>            